.node {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

.node-start {
    background-color: red;
}

.node-finish {
    background-color: green;
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

.node-water {
    background-color: aquamarine;
}

.node-sand {
    background-color: rgb(241, 198, 141);
}

.node-jungle {
    background-color: rgb(36, 183, 36);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }

.node-visited-terrain {
    animation-name: visitedTerrainAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

@keyframes visitedTerrainAnimation {
    0% {
      transform: scale(0.5) translateY(0);
    }
  
    50% {
      transform: scale(0.8) translateY(-10px);
    }
  
    75% {
      transform: scale(1.2) translateY(-5px);
    }
  
    100% {
      transform: scale(1) translateY(0);
    }
}

.node-shortest-terrain-path {
    animation-name: shortestTerrainPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
  @keyframes shortestTerrainPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }

  